# Discord Bot Shared Test Environment Configuration
# SnakeCode Test Server
SNAKECODE_GUILD_ID=1484997607465160796
SNAKECODE_TEST_CHANNEL_ID=1540941534138994758
SNAKECODE_TEST_WEBHOOK_URL=https://discord.com/api/webhooks/1540942878115631146/L7TL3U8HVgrcZKO36l7CU__Kh39Kke4KiOfUcIzjASeLBrasukpXuOePUevavdzhGXlK

# Production Channels
SHOOTY_BOIS_CHANNEL_ID=1194842799405797456
